<p>Hey there, i see you requested a password change, here is your confirmation code: </p>
<p>
    <h2>{{ confirmationCode }}</h2>
</p>

<p>If you did not request this email you can safely ignore it.</p>